<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <div class="form-page" style="text-align: center;">
    <h1 style="color: blueviolet; text-align: center;">
      Welcome to Admin Login Page
    </h1>
    <form action="/admin/create-session" method="POST" class="main-form">
      <h2>Sign in</h2>
      <div>
        <input
          style="width: 40%;"
          type="email"
          name="email"
          required
          placeholder="Email"
        />
      </div>
      <div class="input-group m-b-20">
        <input
          style="width: 40%;"
          type="password"
          name="password"
          required
          placeholder="password"
        />
      </div>

      <input class="btn waves-effect blue" type="submit" value="Sign in" />
    </form>
  </div>
</html>
