<div class="form-page" style="text-align: center;">
  <h1 style="color: blueviolet; text-align: center;">
    Welcome to Admin Login Page
  </h1>
  <form action="/admin/create-session" method="POST" class="main-form">
    <h2>Sign in</h2>
    <div>
      <input type="email" name="email" required placeholder="Email" />
    </div>
    <div class="input-group m-b-20">
      <input type="password" name="password" required placeholder="password" />
    </div>

    <input type="submit" value="Sign in" />
  </form>
</div>
